.title {
	font-size: 50px;
}
.titleContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 2rem 0;
}
.content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
